name: push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - name: prepare .env
        run: |
          touch .env
          echo "DATABASE_HOST=db" >> .env
          echo "DATABASE_NAME=postgres" >> .env
          echo "DATABASE_USERNAME=postgres" >> .env
          echo "DATABASE_PASSWORD=password" >> .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Test
        run: |
          make docker_run_tests

      - name: Build App
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: mistercool88/devops-for-programmers-project-74:latest
